@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Poppins:wght@200;300;500&display=swap");

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  background-color: #fdf2db;
  color: #fdf2db;
}

body::-webkit-scrollbar {
  width: 0.5em;
  background-color: #fdf2db;
}

body::-webkit-scrollbar-thumb {
  background-color: #842a3a;
}
